*{
    margin: 0px;
    padding: 0px;
    /* background: url("https://www.kindpng.com/picc/m/241-2413890_online-grocery-store-of-delhi-noida-gurgaon-and.png"); */
    /* background-color: skyblue; */
    background-repeat: no-repeat;
    background-size: cover;
}